<SmartStocker>
  <Shelf>
    <ID>1</ID>
    <name>倉庫Aの１段目</name>
    <total_pads>6</total_pads>
    <Pad>
      <padID>0</padID>
      <join>0</join>
      <capacity>2</capacity>
      <threshold>10</threshold>
      <apw>1</apw>
      <ignore>no</ignore>    
    </Pad>
    <Pad>
      <padID>0</padID>
      <capacity>2</capacity>
      <threshold>10</threshold>
      <apw>1</apw>
      <ignore>no</ignore>    
    </Pad>
  </Shelf>
  <Shelf>
    <ID>2</ID>
    <name>倉庫Aの2段目</name>
    <total_pads>6</total_pads>
    <Pad>
      <padID>0</padID>
      <capacity>2</capacity>
      <threshold>10</threshold>
      <apw>1</apw>
      <ignore>no</ignore>    
    </Pad>
  </Shelf>
</SmartStocker>